.uploadPost {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #606060;
}
.uploadPost__caption {
  height: 80px;
  width: 80%;
  margin-bottom: 5px;
}

.uploadPost button {
  width: 100px;
  height: 20px;
  margin-top: 10px;
  color: black;
  outline: none;
  background-color: rgb(165, 165, 182);
}
